<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ReadyBid</title>
</head>
<body style="margin:0px;padding:0px">
<div bgcolor="#FAFAFF" style="margin:0px;padding:0px;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;min-height:100%;line-height:150%;font-size:16px;color:#2d4a58;background-color:#FAFAFF;width:100%!important">
    <div style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;min-height:0;color:transparent;width:0;display:none!important"></div>
    <table style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:150%;border-spacing:0;background-color:#FAFAFF;width:100%">
        <tbody><tr style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
            <td style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif"></td>
            <td style="padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important">
                <div style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;max-width:600px;margin:0 auto;display:block;padding-right:5px;padding-bottom:5px;padding-top:0px;padding-left:5px;">
                    <table style="padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;line-height:150%;border-spacing:0;margin:10px 0px;width:100%">
                        <tbody><tr style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
                            <td style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif"></td>
                            <td style="padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important">
                                <div style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;max-width:600px;margin:0 auto;padding-right:5px;padding-bottom:5px;padding-top:0px;padding-left:5px;">
                                    <table style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%">
                                        <tbody><tr style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
                                            <td style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;text-align:center">

                                                <a href="https://www.readybid.net" title="ReadyBid" style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;color:#607D8B;text-decoration:none" target="_blank">
                                                    <img src="https://www.readybid.net/images/mail/readybid-logo.gif" border="0" alt="ReadyBid" width="187" height="50" style="margin:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;padding:0;max-width:100%;border:0">
                                                </a>

                                            </td>
                                        </tr>
                                        </tbody></table>
                                </div>
                            </td>
                            <td style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif"></td>
                        </tr>
                        </tbody></table>
                    <div style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
                        <div style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;color:#2d4a58;">

                            Hi {FIRST_NAME},

                        </div>
                        <div style="margin:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;padding:0;margin-top:1em;color:#2d4a58;">
                            {MESSAGE}
                        </div>


                        <div style="margin:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;padding:0;margin-top:1em">

                            <a href="{CLIENT_APP_ADDRESS}{LINK_URL}" style="margin:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;display:block;padding:10px 16px;text-decoration:none;border-radius:2px;border:1px solid;text-align:center;vertical-align:middle;font-weight:bold;white-space:nowrap;border-color:#FF5722;background-color:#FF5722;color:#ffffff;" target="_blank">
                                {LINK_TEXT}</a>
                        </div>


                        <div style="margin:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;padding:0;margin-top:1em;color:#2d4a58;">

                            Thanks,<br />The ReadyBid Success Team

                        </div>
                    </div>
                    <br /><br />
                </div>
            </td>
            <td style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif"></td>
        </tr>

        <tr style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
            <td style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif"></td>
            <td style="padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important">
                <div style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">

                    <div style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;max-width:600px;margin:0 auto;display:block;color:#9ca299;font-size:14px;text-align:center;padding-right:5px;padding-bottom:5px;padding-top:0px;padding-left:5px;">
                        <table cellpadding="10" style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%;padding:10px;margin:auto">
                            <tbody><tr style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
                                <td align="center" style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
                                    <table cellpadding="5" style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:auto">
                                        <tbody><tr style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">

                                            <td style="margin:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;padding:5px">
                                                <a href="https://www.facebook.com/airbnb?eluid=3D2&amp;euid=3Da4d7b96e-ede9-e121-c0c9-f5c4c3f576fe" title="Facebook" style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;color:#ff5a5f;text-decoration:none" target="_blank">
                                                    <img alt="Facebook" height="42" src="https://www.readybid.net/images/mail/facebook.gif" width="42" style="margin:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;padding:0;max-width:100%;border:0">
                                                </a>                </td>

                                            <td style="margin:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;padding:5px">
                                                <a href="https://twitter.com/airbnb?eluid=3D3&amp;euid=3Da4d7b96e-ede9-e121-c0c9-f5c4c3f576fe" title="Twitter" style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;color:#ff5a5f;text-decoration:none" target="_blank">
                                                    <img alt="Twitter" height="42" src="https://www.readybid.net/images/mail/twitter.gif" width="42" style="margin:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;padding:0;max-width:100%;border:0">
                                                </a>                </td>

                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            </tbody></table>

                        <table style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;border-spacing:0;line-height:150%;width:100%">
                            <tbody><tr style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
                                <td style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif"></td>
                                <td style="padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;display:block!important;margin:0 auto!important;clear:both!important;max-width:610px!important">
                                    <div style="font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;padding:15px;max-width:600px;margin:0 auto;display:block;color:#2d4a58;font-size:14px;text-align:center">
                                        Sent with <img alt="&#9829;" height="10" src="https://www.readybid.net/images/mail/heart.gif" width="12" style="margin:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif;padding:0;max-width:100%"> from ReadyBid<br style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
                                    </div>
                                </td>
                                <td style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif"></td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
                <br style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif"><br style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif">
            </td>
            <td style="margin:0;padding:0;font-family:'Helvetica Neue','Helvetica',Helvetica,Arial,sans-serif"></td>
        </tr>
        </tbody></table>
</div>
</body>
</html>